/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Silkscreen:wght@400;700&display=swap');

@import 'tailwindcss';
:root {
  --font-mono: 'Roboto Mono', monospace;
}

@theme {
  --color-light-beige: #fffef9;
  --color-beige: #f8f5e9;
  --color-bright-blue: #defeff;
  --color-muted-blue: #c6ddde;
  --color-muted-blue-op-45: #e1eae5;
  --color-transparent-blue: #e5efed;
  --color-deeper-blue: #88b8c4;
  --color-dark-blue: #0e4b61;
  --color-steel-blue: #4091ad; /*Often used for dark text*/
  --color-deep-teal: #13536b; /*Often used for radio buttons*/
  --color-denim-blue: #41585e; /*Often used for dark cards*/
  --color-grey-1: #748086; /*Often used for grey text*/
  --color-pink-soft: #ffbbee;
  --color-pink-accent: #ff2aca; /*Used for errors and required fields*/
  --color-dark-pink: #b81c88;
  --color-light-pink: #fff0f8;
  --color-light-green: #e3fff7 ;
  --color-green: #c2d4cf;
  --color-dark-green: #436b60;

  --font-silkscreen: 'Silkscreen', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-dm-serif-display: 'DM Serif Display', serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 18px;
    line-height: 32px;

    background: #f8f5e9;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body,
  #app {
    height: 100%;
  }

  body {
    @apply font-inter;
    font-size: 18px;
    line-height: 32px;

    margin: 0;

    @media (max-width: 1024px) {
      font-size: 15px;
      line-height: 24px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  h1 {
    margin: 40px 0;
    font-size: 64px;
    line-height: 70px;
    font-weight: bold;

    @media (max-width: 1024px) {
      margin: 24px 0;
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
      line-height: 38px;
    }

    @media (max-width: 400px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  p {
    @media (max-width: 1024px) {
      margin: calc(var(--base) * 0.75) 0;
    }
  }

  a {
    &:focus {
      opacity: 0.8;
      outline: none;
    }

    &:active {
      opacity: 0.7;
      outline: none;
    }
  }

  svg {
    vertical-align: middle;
  }
}

@layer components {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 45px;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 400px) {
      padding: 24px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      h1 {
        text-align: center;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
      }

      .admin {
        color: rgb(0, 0, 0);
        background: rgb(1000, 1000, 1000);
        border: 1px solid rgb(0, 0, 0);
      }

      .docs {
        color: rgb(1000, 1000, 1000);
        background: rgb(0, 0, 0);
        border: 1px solid rgb(1000, 1000, 1000);
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 6px;
      }

      p {
        margin: 0;
      }

      .codeLink {
        text-decoration: none;
        padding: 0 0.5rem;
        background: rgb(60, 60, 60);
        border-radius: 4px;
      }
    }
  }
}

@layer utilities {
  .nav-link-text {
    @apply text-dark-blue uppercase hover:cursor-pointer text-sm sm:text-sm;
  }
  .nav-link-text-underline {
    @apply absolute left-0 bottom-0 w-full h-1 bg-muted-blue transition-transform duration-300 rounded-lg;
  }
  .small-info-tag {
    @apply text-xs pl-2 pr-2 rounded-b-lg rounded-t-lg;
  }
  .form-question-subheading {
    @apply text-dark-blue font-inter text-sm mb-7 pt-1;
  }
  .editable-capsule {
    @apply border border-muted-blue h-fit w-fit px-2.5 py-1 rounded-xl text-sm placeholder-muted-blue focus:outline-muted-blue focus:outline-2 shadow bg-light-beige text-dark-blue;
  }
  .admin-dash-carousel-item {
    @apply flex px-30 py-2 flex-col w-full self-stretch justify-center items-center flex-shrink-0 h-full overflow-hidden outline-none;
  }
}
